<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".get_help" %>
  <a href="http://www.railstutorial.org/help">
    <%= t ".rails_help_section" %></a>.
  <%= t ".to_get" %>
  <a href="http://www.railstutorial.org/book">
    <em><%= t ".RoR" %></em>
  <%= t ".book" %></a>.
</p>
