<footer class="footer">
  <small>
    <%= t "footer.the" %> <a href="http://www.railstutorial.org/"><%= t "footer.RoR" %></a>
    <%= t "footer.by" %> <a href="http://www.michaelhartl.com/"><%= t "footer.michael_hartl"%></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("footer.about"), about_path %></li>
      <li><%= link_to t("footer.contact"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= t "news" %></a></li>
    </ul>
  </nav>
</footer>
